<header class="cabecalho">
    <div class="container">

        <div class="logo">
            <img src="midea/logo1.png" alt="logotipo" width="60">
        </div>

        <nav class="menu">
            <ul>
                <li><a href="/">registrar</a></li>
                <li><a href="/list">ver K</a></li>
            </ul>
        </nav>
    </div>
</header>